name: Gitleaks
on:
  workflow_dispatch: {}

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          args: detect --source . --no-banner --report-format sarif --report-path gitleaks.sarif
        continue-on-error: true
      - uses: actions/upload-artifact@v5
        if: always()
        with:
          name: gitleaks-report
          path: gitleaks.sarif
